.recipeCard {
  background-color: #f1f1f1;
  margin: 8%;
  border-radius: 10px;
  text-align: center;
  padding: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img {
    height: 300px;
    width: 300px;
  }

  h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #000;
    font-size: 20px;

  }
}